<script>
  var lastClickedListId = null;

  function toggleList(listId) {
    var list = document.getElementById(listId);

    if (lastClickedListId === listId) {
      list.style.display = list.style.display === 'none' ? 'block' : 'none';
    } else {
      var lastClickedList = document.getElementById(lastClickedListId);
      if (lastClickedList) {
        lastClickedList.style.display = 'none';
      }
      list.style.display = 'block';
      lastClickedListId = listId;
    }
  }
</script>
<div class="icons">
  <div class="icon-container" onclick="toggleList('list1')">
    <%= image_tag("pig.png", class: "icon-logo") %>
    <h2 class="genre">年金</h2>
    <div class="icon-lists">
      <ul id="list1" >
        <li><%= link_to '詳細1', zeikin_path(1) %></li>
        <li><%= link_to '詳細2', zeikin_path(2) %></li>
        <li><%= link_to '詳細3', zeikin_path(3) %></li>
      </ul>
    </div>
  </div>


  <div class="icon-container" onclick="toggleList('list2')">
    <%= image_tag("coin.png", class: "icon-logo") %>
    <h2 class="genre">所得税</h2>
    <div class="icon-lists">
      <ul id="list2" >
        <li><%= link_to '詳細1', zeikin_path(11) %></li>
        <li><%= link_to '詳細2', zeikin_path(12) %></li>
        <li><%= link_to '詳細3', zeikin_path(13) %></li>
      </ul>
    </div>
  </div>

    <div class="icon-container" onclick="toggleList('list3')">
    <%= image_tag("clinical.png", class: "icon-logo") %>
    <h2 class="genre">医療・保険</h2>
    <div class="icon-lists">
      <ul id="list3" >
        <li><%= link_to '詳細1', zeikin_path(21) %></li>
        <li><%= link_to '詳細2', zeikin_path(22) %></li>
        <li><%= link_to '詳細3', zeikin_path(23) %></li>
      </ul>
    </div>
  </div>

    <div class="icon-container" onclick="toggleList('list4')">
    <%= image_tag("house.png", class: "icon-logo") %>
    <h2 class="genre">医療・保険</h2>
    <div class="icon-lists">
      <ul id="list4" >
        <li><%= link_to '詳細1', zeikin_path(31) %></li>
        <li><%= link_to '詳細2', zeikin_path(32) %></li>
        <li><%= link_to '詳細3', zeikin_path(33) %></li>
      </ul>
    </div>
  </div>
</div>